<%- model_class = Letter -%>
<div class="page-header">
  <h1><%=t '.title', :default => Letter %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:read_count) %></th>
      <th><%= model_class.human_attribute_name(:thanks_count) %></th>
      <th><%= model_class.human_attribute_name(:created) %></th>
    </tr>
  </thead>
  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= link_to letter.content, letter %></td>
        <td><%= letter.status.humanize %></td>
        <td><%= letter.read_count %></td>
        <td><%= letter.thanks_count %></td>
        <td><%= time_ago_in_words(letter.created_at) + ' ago' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_letter_path,
            :class => 'btn btn-primary' %>
