<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @letter.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @letter.status %>
</p>

<p>
  <strong>Read count:</strong>
  <%= @letter.read_count %>
</p>

<p>
  <strong>Thanks count:</strong>
  <%= @letter.thanks_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @letter.user %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
